@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #050c9c;
  --color-secondary: #3572ef;
  --color-accent: #3abef9;
  --color-light: #a7e6ff;
}

@media (prefers-color-scheme: dark) {
}

html {
  @apply font-sans; /* Use the new font family */
}

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ltr-direction {
  direction: ltr;
}


/* globals.css */

@layer utilities {
  .rtl .flip-horizontal {
    @apply flex-row-reverse;
  }
}


.border-r-0-flip {
  border-right-width: 0;
  border-left-width: 1px;
}
